<%#= simple_form_for(@myjob) do |f| %>
  <div class="inputs">
    <%#= f.input :hours, collection: 0...50, label: "Time donated in hours. Be conservative. Round to the highest hour." %>
  </div>
  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
<%# end %>
