<div class="jumbotron">
  <h2>IJP Volunteer Incentivization Tracker</h2>
  <br>
  <h3>Finalmente'!</h3>
  <h4>A way to keep track of all the time you donate! Because, all of it counts.</h4>
  <br>
  <p><%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-danger" %> <%= link_to "Log In!", new_user_session_path, class: "btn btn-success" %></p>
  </div>
