<div class="col-md-8 col-md-offset-0">
  <h1> Here's a list of all jobs </h1>
  <% @jobs.each do |job| %>
    <h2><%#= job.id %><%= link_to job.title, job %></h2>
    <p>Description: <%= job.description %></p>
    <p>Created: <%= job.created_at %></p>
    <p>Value:<font color="red"> <%= job.value %></font></p>
  <% end %>

</div>
